*{
    padding: 0;
    margin: 0;
}

ul, ol{
    list-style-type: none;
}


body, html{
    width: 100%;
    height: 100%;
}

body{
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #fff;
}

a{
    text-decoration: none;
    font-size: 14px;
}

a, span{
    color: #333;
}

/*--------------- 公共样式*/
.com-box_shadow{
    -webkit-box-shadow: 0 1px 2px #f5f5f5;
    -moz-box-shadow: 0 1px 2px #f5f5f5;
    box-shadow: 0 1px 2px #f5f5f5;
}

.cursor-pointer{
    cursor: pointer;
}

.flex-row__hv-center{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.flex-row__v--center{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.flex-row__h--center{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.flex-column__v--center{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.flex-column__h--center {
    display: flex;
    flex-direction: column;
    justify-content: center;
}



/*---------------------- 布局*/

/*-------------- 主体*/
#main{
    width: 100%;
    height: 100%;
    padding-bottom: 72px;
}


/*-------------- 顶部*/
.top{
    height: 48px;
    width: 100%;
    background: #fff;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
    position: fixed;
    top: 0;
    z-index: 10;
}

.top-content{
    height: 100%;
    width: 1280px;
}

.hope-icon{
    height: 100%;
}

.hope-icon img{
    height: 120%;
}

/*搜索框*/
.search-bar{
    position: relative;
}

#search-bar{
    height: 28px;
    width: 280px;
    padding-left: 8px;
    padding-right: 42px;
    box-sizing: border-box;
}

.search_bar--icon{
    width: 26px;
    position: absolute;
    right: 4px;
    top: 1px;
    cursor: pointer;

}

/*-顶部操作列表*/
.options-bar{
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
}
/*--顶部导航列表*/
.options-list{
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.option-item{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 26px;
    box-sizing: border-box;
    cursor: pointer;
}

.options-item_img{
    width: 26px;
    margin-right: 4px;
}

.options-item_link--active{
    color: #eb7350;
}

/*-- 顶部登陆窗口*/
.login-bar{
    margin-left: 20px;
}

.register, .login{
    padding: 0 14px;
    box-sizing: border-box;
    cursor: pointer;
}

.register{
    padding-right: 15px;
    border-right: 1px solid #333;
}

.register:hover, .login:hover{
    color: #eb7350;
}
/*-------------- end*/

/*------------ 身体*/
.body{
    width: 1170px;
    display: flex;
    flex-direction: row;
    margin-top: 76px;
    padding-bottom: 76px;
    box-sizing: border-box;
}

/*!*- 左侧导航栏*!*/
/*.left-nav{*/
/*    width: 110px;*/
/*    transition: all 1s ease-in;*/
/*}*/

/*.left-nav__fixed{*/
/*    position: fixed;*/
/*    top: 50px;*/
/*}*/

/*.nav-list{*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    align-items: center;*/
/*}*/

/*.nav-item{*/
/*    width: 100%;*/
/*    padding-bottom: 7px;*/
/*}*/

/*.nav-item span{*/
/*    height: 28px;*/
/*    width: 110px;*/
/*    font-size: 14px;*/
/*    display: flex;*/
/*    flex-direction: row;*/
/*    justify-content: center;*/
/*    align-items: center;*/
/*    -webkit-border-radius: 4px;*/
/*    -moz-border-radius: 4px;*/
/*    border-radius: 4px;*/
/*    cursor: pointer;*/
/*}*/

/*.nav-item .active-nav, .nav-item .active-nav_default{*/
/*    background: orangered;*/
/*    color: #fff;*/
/*}*/

/*!*- 身体*!*/
/*.mid-content{*/
/*    flex: 1;*/
/*    padding-left: 30px;*/
/*    box-sizing: border-box;*/
/*}*/

/*!*-- 身体头部的轮播图框框*!*/
/*.big-news{*/
/*    width: 100%;*/
/*    height: calc(690px*(9/16));*/
/*    position: relative;*/
/*}*/


/*.news-nav__bar{*/
/*    position: absolute;*/
/*    left: 0;*/
/*    top: 0;*/
/*    height: 100%;*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    justify-content: center;*/
/*    z-index: 2;*/
/*}*/

/*.news-nav__bar--li{*/
/*    padding: 4px 7px;*/
/*    background: rgba(0, 0, 0, 0.25);*/
/*    color: #fff;*/
/*    font-size: 14px;*/
/*    border: 1px solid rgba(0, 0, 0, 0.15);*/
/*    border-bottom: 0;*/
/*    cursor: pointer;*/
/*}*/

/*.news-nav__bar--first_li{*/
/*    border-bottom: 1px solid rgba(0, 0, 0, 0.15);*/
/*}*/

/*.news-nav__bar.news-nav__bar .news-nav__bar--active_li{*/
/*    background: rgba(255,129,64, 0.8);*/
/*}*/

/*.news-photo__link{*/
/*    position: absolute;*/
/*    height: 100%;*/
/*    width: 100%;*/
/*    left: 0;*/
/*    top: 0;*/
/*    z-index: 1;*/
/*    -webkit-border-radius: 7px;*/
/*    -moz-border-radius: 7px;*/
/*    border-radius: 7px;*/
/*    overflow: hidden;*/
/*}*/



/*.news-photo__link li{*/
/*    position: absolute;*/
/*    top: 0;*/
/*    left: 0;*/
/*    width: 100%;*/
/*    height: 100%;*/
/*    display: none;*/
/*    transition: all 2s ease-in-out;*/
/*}*/

/*.news-photo__link .news-photo__link--active{*/
/*    display: block;*/
/*}*/

/*.news-photo__link--active{*/
/*    transition: display 2s ease-in-out;*/
/*}*/

/*.news-photo__link li img{*/
/*    width: 100%;*/
/*    height: 100%;*/
/*}*/

/*!*-- 编辑器*!*/
/*.wb-editor{*/
/*    background: #fff;*/
/*    width: 100%;*/
/*    padding: 14px 7px;*/
/*    box-sizing: border-box;*/
/*}*/

/*.wb-editor__top, .wb-editor__input, .wb-editor__options{*/
/*    width: 100%;*/
/*}*/

/*.wb-editor__top{*/
/*    color: #1b7fb6;*/
/*}*/

/*.wb-editor__input{*/
/*    height: 68px;*/
/*    margin: 0px;*/
/*    padding: 0px;*/
/*    border-style: none;*/
/*    border-width: 0px;*/
/*    font-size: 14px;*/
/*    line-height: 18px;*/
/*    overflow: hidden;*/
/*    outline: none;*/
/*}*/

/*.wb-editor__options{*/
/*    margin-top: 7px;*/
/*    display: flex;*/
/*    flex-direction: row;*/
/*    position: relative;*/
/*}*/

/*.wb-editor__options .option-item{*/
/*    margin-left: 0;*/
/*    margin-right: 22px;*/
/*}*/

/*!*扩展外层*!*/
/*.expand-outer{*/
/*    position: absolute;*/
/*    top: 26px;*/
/*    left: 0;*/
/*    z-index: 9;*/
/*}*/

/*!*-扩展内存*!*/
/*.expand-inner{*/
/*    width: 100%;*/
/*    height: 120px;*/
/*    padding-top: 10px;*/
/*}*/

/*!*- 扩展箭头*!*/
/*.expand-point{*/
/*    position: absolute;*/
/*    top: 0;*/
/*    left: 12px;*/
/*    height: 10px;*/
/*    width: 10px;*/
/*    background: #0f0f0f;*/
/*}*/

/*!*-- 扩展内部实体*!*/
/*.expand-box{*/
/*    padding: 14px 7px;*/
/*    background: #46b8da;*/
/*    -webkit-border-radius: 4px;*/
/*    -moz-border-radius: 4px;*/
/*    border-radius: 4px;*/
/*    box-sizing: border-box;*/
/*    position: relative;*/
/*}*/

/*!*-- 扩展窗口关闭*!*/
/*.expand-close{*/
/*    position: absolute;*/
/*    top: 4px;*/
/*    right: 4px;*/
/*    height: 10px;*/
/*    width: 10px;*/
/*    background: #2e6da4;*/

/*}*/

/*!*-- 扩展窗口实体内容*!*/
/*.expand-content{*/
/*    width: 100%;*/
/*    height: 100%;*/
/*}*/

/*!*--- 笑脸*!*/
/*.expand-xl{*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    width: 100%;*/
/*}*/

/*.xl-type_list{*/
/*    width: 100%;*/
/*    height: 28px;*/
/*    display: flex;*/
/*    flex-direction: row;*/
/*}*/

/*.xl-type_list-options{*/
/*    height: 100%;*/
/*    display: flex;*/
/*    flex-direction: row;*/
/*}*/

/*.xl-type_list-option{*/
/*    width: 28px;*/
/*    height: 28px;*/
/*    background: #5bc0de;*/

/*    -webkit-box-sizing: border-box;*/
/*    -moz-box-sizing: border-box;*/
/*    box-sizing: border-box;*/
/*}*/

/*.xl-type_list-option--active{*/
/*    border-bottom: 2px solid orangered;*/
/*}*/

/*.xl-images_list{*/
/*    width: 100%;*/
/*    margin-top: 14px;*/
/*}*/

/*.xl-images_list-rows{*/
/*    width: 100%;*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*}*/

/*.xl-images_list-row{*/
/*    width: 100%;*/
/*}*/

/*.xl-images_list-row_items{*/
/*    width: 100%;*/
/*    display: flex;*/
/*    flex-direction: row;*/
/*}*/

/*.xl-images_list-row_item{*/
/*    height: 28px;*/
/*    width: 28px;*/
/*    background: rgba(0, 0, 0, 0.25);*/
/*    border: 1px solid rgba(255, 255, 255, 0.5);*/
/*    box-sizing: border-box;*/
/*}*/

/*.expand-image{*/
/*    width: 398px;*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*}*/

/*.image_header{*/
/*    font-size: 14px;*/
/*    color: #333;*/
/*}*/

/*.image_list{*/
/*    width: 100%;*/
/*    margin-top: 14px;*/
/*}*/

/*.image_list-row{*/
/*    width: 100%;*/
/*    display: flex;*/
/*    flex-direction: row;*/
/*}*/

/*.image_item{*/
/*    height: 128px;*/
/*    width: 128px;*/
/*    background: rgba(0, 0, 0, 0.25);*/
/*    border: 1px solid rgba(255, 255, 255, 0.5);*/
/*    box-sizing: border-box;*/
/*}*/

/*.expand-video{*/
/*    width: 358px;*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*}*/

/*.video-title{*/
/*    color: #333;*/
/*}*/

/*.video-tip, .video-upload_box, .video-input_row{*/
/*    margin-top: 4px;*/
/*}*/

/*.video-tip, .video-input_row-tip p{*/
/*    color: #b3b3b3;*/
/*    font-size: 14px;*/
/*}*/

/*.video-upload_box{*/

/*}*/

/*.video-input_row{*/
/*    width: 100%;*/
/*    display: flex;*/
/*    flex-direction: row;*/
/*    justify-content: flex-start;*/
/*    align-items: center;*/
/*}*/

/*.video-input_row-tip{*/
/*    justify-content: flex-end;*/
/*}*/

/*.video-input_key{*/
/*    width: 64px;*/
/*    display: flex;*/
/*    flex-direction: row;*/
/*    justify-content: flex-end;*/
/*    padding-right: 7px;*/
/*    -webkit-box-sizing: border-box;*/
/*    -moz-box-sizing: border-box;*/
/*    box-sizing: border-box;*/
/*}*/

/*.video-input_value{*/
/*    flex: 1;*/
/*    margin-right: 14px;*/
/*    height: 24px;*/
/*    -webkit-box-sizing: border-box;*/
/*    -moz-box-sizing: border-box;*/
/*    box-sizing: border-box;*/
/*}*/

/*.video-editor__input{*/
/*    border-style: none;*/
/*    border-width: 0px;*/
/*    padding: 3px 2px;*/
/*    font-size: 14px;*/
/*    line-height: 18px;*/
/*    overflow: hidden;*/
/*    outline: none;*/
/*}*/

/*!*- 右侧窗口*!*/
/*.right-window{*/
/*    width: 340px;*/
/*    padding-left: 14px;*/
/*    box-sizing: border-box;*/
/*}*/

/*!*-- 登陆外层窗口*!*/
/*.login-window{*/
/*    width: 100%;*/
/*    padding: 14px;*/
/*    box-sizing: border-box;*/
/*    background: #f2f2f5;*/
/*}*/

/*!*--- 登陆内层窗口*!*/
/*.login-box{*/
/*    width: 100%;*/
/*    padding: 0 7px;*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    align-items: center;*/
/*    border-radius: 2px;*/
/*    box-shadow: 0 0 2px rgba(0,0,0,0.15);*/
/*    background: #fff;*/
/*    box-sizing: border-box;*/
/*}*/

/*.login-top, .login-input_item, .login-options, .login-btn, .login-register{*/
/*    margin-bottom: 14px;*/
/*}*/

/*.login-top{*/
/*    width: 100%;*/
/*    display: flex;*/
/*    justify-content: center;*/
/*    align-items: center;*/
/*    padding: 8px;*/
/*    border-bottom: 3px solid #fa7d3c;*/
/*    box-sizing: border-box;*/
/*}*/

/*.login-input_item{*/
/*    width: 100%;*/
/*    height: 28px;*/
/*    display: flex;*/
/*    align-items: center;*/
/*    position: relative;*/
/*}*/

/*.login-input_item img{*/
/*    position: absolute;*/
/*    top: 2px;*/
/*    height: 24px;*/
/*    left: 8px;*/
/*    width: 24px;*/
/*}*/

/*.wb-input{*/
/*    width: 100%;*/
/*    height: 100%;*/
/*    padding: 5px 8px;*/
/*    padding-left: 36px;*/
/*    border: 1px solid #ccc;*/
/*    color: #808080;*/
/*    box-sizing: border-box;*/
/*}*/

/*.login-btn{*/
/*    width: 100%;*/
/*    height: 32px;*/
/*    display: flex;*/
/*    justify-content: center;*/
/*    align-items: center;*/
/*    color: #fff;*/
/*    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);*/
/*    background: #ff8140;*/
/*    border: 1px solid #f77c3d;*/
/*    cursor: pointer;*/
/*}*/

/*.login-register{*/
/*    width: 100%;*/
/*}*/

/*.login-register a{*/
/*    font-size: 12px;*/
/*}*/

/*.register-btn{*/
/*    color: #ff8140;*/
/*    cursor: pointer;*/
/*}*/

/*------------------ 页脚*/
.footer{
    position: fixed;
    bottom: 12px;
}

/*------------------ 公用样式*/
.input_hide{
    display: none;
}

.wb-input{
    width: 100%;
    height: 100%;
    padding: 5px 8px;
    padding-left: 36px;
    border: 1px solid #ccc;
    color: #808080;
    box-sizing: border-box;
}

.wb-input_readonly{
    background: rgba(0, 0, 0, 0.25);
}